button(type="button" id="aa" data-container="body"  data-toggle="popover" data-placement="bottom"
          title="Vivamus" ).btn.btn-primary.btn-mylayout 提示信息（下）   

 div.navbar-collapse.collapse
     ul.nav.navbar-nav
      li
       a(href="#", title="Home") 我的首页
      li
       a(href="#", title="About") 团结友爱
      li
       a(href="#", title="Contact") 共同提高
      li
       a(href="#", title="Test") 给我拍砖