extends ./_Layout/_Layout.jade
block content 
 script(src="/Scripts/Common/ChangePassword.js",type="text/javascript")  
 .middle-box.text-center.loginscreen.animated.fadeInDown
    div
        input(type='hidden' id='userKey' keyVal='#{userKey}') 
        input(type='hidden' id='password' keyVal='#{Password}') 
        div
        h3 请重新设置您的密码
        form.m-t
            .form-group
                input.form-control(type='password' , placeholder='设置密码'  id='password1')
            .form-group
                input.form-control(type='password', placeholder='确认密码'  id='password2')
            button.btn.btn-primary.full-width.block.m-b(type='button', onclick="resetPass()") 重置密码
