extends ./_Layout/_Layout.jade
block content
  .middle-box.text-center.animated.fadeInDown  
    if (error.status == 404)
      h1 #{error.status}
      h3.font-bold #{error.status} ：页面未找到！
      .error-desc 抱歉，页面好像去火星了~      
    else
      h1 500
      h3.font-bold 服务器内部错误！
      .error-desc 服务器好像出错了...
