doctype html
html 
 head
  title #{title}
  block scripts
   link(href='/css/bootstrap.min14ed.css?v=3.3.6', rel='stylesheet')
   link(href='/css/font-awesome.min93e3.css?v=4.4.0', rel='stylesheet')
   link(href='/css/animate.min.css', rel='stylesheet')
   link(href='/css/style.min862f.css?v=4.1.0', rel='stylesheet')
   script(src="/Scripts/jquery-3.1.0.min.js")
   script(src="/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js")   
   script(src='/Scripts/plugins/metisMenu/jquery.metisMenu.js')
   script(src='/Scripts/plugins/slimscroll/jquery.slimscroll.min.js')
   script(src='/Scripts/plugins/layer/layer.min.js')
   script(src='/Scripts/hplus.min.js?v=4.1.0')
   script(type='text/javascript', src='/Scripts/contabs.min.js')
   script(src='/Scripts/plugins/pace/pace.min.js')
   script.
       $(function(){
           $("img").attr("onerror","this.src='/image/pj1_60/pj1_60_1.png'");
       })

 body(style="overflow:hidden").fixed-sidebar.full-height-layout.gray-bg
   #wrapper
    // 左侧导航开始
    nav.navbar-default.navbar-static-side(role='navigation')
        .nav-close
            i.fa.fa-times-circle
        .sidebar-collapse
            ul#side-menu.nav
                li.nav-header
                    .dropdown.profile-element
                        span
                            img.img-circle(alt='image', src='/image/pj1_60/pj1_60_1.png' style="height:65px")
                        a.dropdown-toggle(data-toggle='dropdown', href='#' aria-expanded="false")
                            span.clear
                                span.block.m-t-xs
                                    strong.font-bold wasaby
                                span.text-muted.text-xs.block 超级管理员
                                    b.caret
                        ul.dropdown-menu.animated.fadeInRight.m-t-xs
                            li
                                a.J_menuItem(href='form_avatar.html') 修改头像
                            li
                                a.J_menuItem(href='profile.html') 个人资料
                            li
                                a.J_menuItem(href='contacts.html') 联系我们
                            li
                                a.J_menuItem(href='mailbox.html') 信箱
                            li.divider
                            li
                                a(href='/login?u=true') 安全退出
                    .logo-element 分众
                li
                    a(href='#')
                        i.fa.fa-home
                        span.nav-label 我的底盘
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a.J_menuItem(href='/test1', data-index='0') 首页
                        li
                            a.J_menuItem(href='index_v2.html') 我的待办
                        li
                            a.J_menuItem(href='index_v3.html') 我的Team
                        li
                            a.J_menuItem(href='index_v4.html') 我的关注
                        li
                            a(href='http://www.focusmedia.cn/', target='_blank') 分众传媒
                li
                    a.J_menuItem(href='layouts.html')
                        i.fa.fa-columns
                        span.nav-label &#x5E03;&#x5C40;
                li
                    a(href='#')
                        i.fa.fa.fa-bar-chart-o
                        span.nav-label &#x7EDF;&#x8BA1;&#x56FE;&#x8868;
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a.J_menuItem(href='graph_echarts.html') &#x767E;&#x5EA6;ECharts
                        li
                            a.J_menuItem(href='graph_flot.html') Flot
                        li
                            a.J_menuItem(href='graph_morris.html') Morris.js
                        li
                            a.J_menuItem(href='graph_rickshaw.html') Rickshaw
                        li
                            a.J_menuItem(href='graph_peity.html') Peity
                        li
                            a.J_menuItem(href='graph_sparkline.html') Sparkline
                        li
                            a.J_menuItem(href='graph_metrics.html') &#x56FE;&#x8868;&#x7EC4;&#x5408;
                li
                    a(href='mailbox.html')
                        i.fa.fa-envelope
                        span.nav-label &#x4FE1;&#x7BB1; 
                        span.label.label-warning.pull-right 16
                    ul.nav.nav-second-level
                        li
                            a.J_menuItem(href='mailbox.html') &#x6536;&#x4EF6;&#x7BB1;
                        li
                            a.J_menuItem(href='mail_detail.html') &#x67E5;&#x770B;&#x90AE;&#x4EF6;
                        li
                            a.J_menuItem(href='mail_compose.html') &#x5199;&#x4FE1;
                li
                    a(href='#')
                        i.fa.fa-edit
                        span.nav-label &#x8868;&#x5355;
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a.J_menuItem(href='form_basic.html') &#x57FA;&#x672C;&#x8868;&#x5355;
                        li
                            a.J_menuItem(href='form_validate.html') &#x8868;&#x5355;&#x9A8C;&#x8BC1;
                        li
                            a.J_menuItem(href='form_advanced.html') &#x9AD8;&#x7EA7;&#x63D2;&#x4EF6;
                        li
                            a.J_menuItem(href='form_wizard.html') &#x8868;&#x5355;&#x5411;&#x5BFC;
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='form_webuploader.html') &#x767E;&#x5EA6;WebUploader
                                li
                                    a.J_menuItem(href='form_file_upload.html') DropzoneJS
                                li
                                    a.J_menuItem(href='form_avatar.html') &#x5934;&#x50CF;&#x88C1;&#x526A;&#x4E0A;&#x4F20;
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='form_editors.html') &#x5BCC;&#x6587;&#x672C;&#x7F16;&#x8F91;&#x5668;
                                li
                                    a.J_menuItem(href='form_simditor.html') simditor
                                li
                                    a.J_menuItem(href='form_markdown.html') MarkDown&#x7F16;&#x8F91;&#x5668;
                                li
                                    a.J_menuItem(href='code_editor.html') &#x4EE3;&#x7801;&#x7F16;&#x8F91;&#x5668;
                        li
                            a.J_menuItem(href='suggest.html') &#x641C;&#x7D22;&#x81EA;&#x52A8;&#x8865;&#x5168;
                        li
                            a.J_menuItem(href='layerdate.html') &#x65E5;&#x671F;&#x9009;&#x62E9;&#x5668;layerDate
                li
                    a(href='#')
                        i.fa.fa-desktop
                        span.nav-label &#x9875;&#x9762;
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a.J_menuItem(href='contacts.html') &#x8054;&#x7CFB;&#x4EBA;
                        li
                            a.J_menuItem(href='profile.html') &#x4E2A;&#x4EBA;&#x8D44;&#x6599;
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='projects.html') &#x9879;&#x76EE;
                                li
                                    a.J_menuItem(href='project_detail.html') &#x9879;&#x76EE;&#x8BE6;&#x60C5;
                        li
                            a.J_menuItem(href='teams_board.html') &#x56E2;&#x961F;&#x7BA1;&#x7406;
                        li
                            a.J_menuItem(href='social_feed.html') &#x4FE1;&#x606F;&#x6D41;
                        li
                            a.J_menuItem(href='clients.html') &#x5BA2;&#x6237;&#x7BA1;&#x7406;
                        li
                            a.J_menuItem(href='file_manager.html') &#x6587;&#x4EF6;&#x7BA1;&#x7406;&#x5668;
                        li
                            a.J_menuItem(href='calendar.html') &#x65E5;&#x5386;
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='blog.html') &#x6587;&#x7AE0;&#x5217;&#x8868;
                                li
                                    a.J_menuItem(href='article.html') &#x6587;&#x7AE0;&#x8BE6;&#x60C5;
                        li
                            a.J_menuItem(href='faq.html') FAQ
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='timeline.html') &#x65F6;&#x95F4;&#x8F74;
                                li
                                    a.J_menuItem(href='timeline_v2.html') &#x65F6;&#x95F4;&#x8F74;v2
                        li
                            a.J_menuItem(href='pin_board.html') &#x6807;&#x7B7E;&#x5899;
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='invoice.html') &#x5355;&#x636E;
                                li
                                    a.J_menuItem(href='invoice_print.html') &#x5355;&#x636E;&#x6253;&#x5370;
                        li
                            a.J_menuItem(href='search_results.html') &#x641C;&#x7D22;&#x7ED3;&#x679C;
                        li
                            a.J_menuItem(href='forum_main.html') &#x8BBA;&#x575B;
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='chat_view.html') &#x804A;&#x5929;&#x7A97;&#x53E3;
                                li
                                    a.J_menuItem(href='webim.html') layIM
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a(href='login.html', target='_blank') &#x767B;&#x5F55;&#x9875;&#x9762;
                                li
                                    a(href='login_v2.html', target='_blank') &#x767B;&#x5F55;&#x9875;&#x9762;v2
                                li
                                    a(href='register.html', target='_blank') &#x6CE8;&#x518C;&#x9875;&#x9762;
                                li
                                    a(href='lockscreen.html', target='_blank') &#x767B;&#x5F55;&#x8D85;&#x65F6;
                        li
                            a.J_menuItem(href='404.html') 404&#x9875;&#x9762;
                        li
                            a.J_menuItem(href='500.html') 500&#x9875;&#x9762;
                        li
                            a.J_menuItem(href='empty_page.html') &#x7A7A;&#x767D;&#x9875;
                li
                    a(href='#')
                        i.fa.fa-flask
                        span.nav-label UI&#x5143;&#x7D20;
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a.J_menuItem(href='typography.html') &#x6392;&#x7248;
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='fontawesome.html') Font Awesome
                                li
                                    a.J_menuItem(href='glyphicons.html') Glyphicon
                                li
                                    a.J_menuItem(href='iconfont.html') &#x963F;&#x91CC;&#x5DF4;&#x5DF4;&#x77E2;&#x91CF;&#x56FE;&#x6807;&#x5E93;
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='draggable_panels.html') &#x62D6;&#x52A8;&#x9762;&#x677F;
                                li
                                    a.J_menuItem(href='agile_board.html') &#x4EFB;&#x52A1;&#x6E05;&#x5355;
                        li
                            a.J_menuItem(href='buttons.html') &#x6309;&#x94AE;
                        li
                            a.J_menuItem(href='tabs_panels.html') &#x9009;&#x9879;&#x5361; &amp; &#x9762;&#x677F;
                        li
                            a.J_menuItem(href='notifications.html') &#x901A;&#x77E5; &amp; &#x63D0;&#x793A;
                        li
                            a.J_menuItem(href='badges_labels.html') &#x5FBD;&#x7AE0;&#xFF0C;&#x6807;&#x7B7E;&#xFF0C;&#x8FDB;&#x5EA6;&#x6761;
                        li
                            a.J_menuItem(href='grid_options.html') &#x6805;&#x683C;
                        li
                            a.J_menuItem(href='plyr.html') &#x89C6;&#x9891;&#x3001;&#x97F3;&#x9891;
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='layer.html') Web&#x5F39;&#x5C42;&#x7EC4;&#x4EF6;layer
                                li
                                    a.J_menuItem(href='modal_window.html') &#x6A21;&#x6001;&#x7A97;&#x53E3;
                                li
                                    a.J_menuItem(href='sweetalert.html') SweetAlert
                        li
                            a(href='#')
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a.J_menuItem(href='jstree.html') jsTree
                                li
                                    a.J_menuItem(href='tree_view.html') Bootstrap Tree View
                                li
                                    a.J_menuItem(href='nestable_list.html') nestable
                        li
                            a.J_menuItem(href='toastr_notifications.html') Toastr&#x901A;&#x77E5;
                        li
                            a.J_menuItem(href='diff.html') &#x6587;&#x672C;&#x5BF9;&#x6BD4;
                        li
                            a.J_menuItem(href='spinners.html') &#x52A0;&#x8F7D;&#x52A8;&#x753B;
                        li
                            a.J_menuItem(href='widgets.html') &#x5C0F;&#x90E8;&#x4EF6;
                li
                    a(href='#')
                        i.fa.fa-table
                        span.nav-label &#x8868;&#x683C;
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a.J_menuItem(href='table_basic.html') &#x57FA;&#x672C;&#x8868;&#x683C;
                        li
                            a.J_menuItem(href='table_data_tables.html') DataTables
                        li
                            a.J_menuItem(href='table_jqgrid.html') jqGrid
                        li
                            a.J_menuItem(href='table_foo_table.html') Foo Tables
                        li
                            a.J_menuItem(href='table_bootstrap.html')
                                span.label.label-danger.pull-right &#x63A8;&#x8350;
                li
                    a(href='#')
                        i.fa.fa-picture-o
                        span.nav-label &#x76F8;&#x518C;
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a.J_menuItem(href='basic_gallery.html') &#x57FA;&#x672C;&#x56FE;&#x5E93;
                        li
                            a.J_menuItem(href='carousel.html') &#x56FE;&#x7247;&#x5207;&#x6362;
                        li
                            a.J_menuItem(href='blueimp.html') Blueimp&#x76F8;&#x518C;
                li
                    a.J_menuItem(href='css_animation.html')
                        i.fa.fa-magic
                        span.nav-label CSS&#x52A8;&#x753B;
                li
                    a(href='#')
                        i.fa.fa-cutlery
                        span.nav-label &#x5DE5;&#x5177; 
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a.J_menuItem(href='form_builder.html') &#x8868;&#x5355;&#x6784;&#x5EFA;&#x5668;
    // 左侧导航结束
    // 右侧部分开始
    #page-wrapper.gray-bg.dashbard-1
        .row.border-bottom
            nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
                .navbar-header
                    a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                        i.fa.fa-bars
                    form.navbar-form-custom(role='search', method='post', action='#' onSubmit="return false;")
                        .form-group
                            input#top-search.form-control(type='text', placeholder='请输入您需要查找的内容 …', name='top-search')
                ul.nav.navbar-top-links.navbar-right
                    li.dropdown
                        a.dropdown-toggle.count-info(data-toggle='dropdown', href='#')
                            i.fa.fa-envelope
                            span.label.label-warning 16
                        ul.dropdown-menu.dropdown-messages
                            li.m-t-xs
                                .dropdown-messages-box
                                    a.pull-left(href='profile.html')
                                        img.img-circle(alt='image', src='img/a7.jpg')
                                    .media-body
                                        small.pull-right 46&#x5C0F;&#x65F6;&#x524D;
                                        strong &#x5C0F;&#x56DB;
                                        br
                                        small.text-muted 3&#x5929;&#x524D; 2014.11.8
                            li.divider
                            li
                                .dropdown-messages-box
                                    a.pull-left(href='profile.html')
                                        img.img-circle(alt='image', src='img/a4.jpg')
                                    .media-body
                                        small.pull-right.text-navy 25&#x5C0F;&#x65F6;&#x524D;
                                        strong &#x56FD;&#x6C11;&#x5CB3;&#x7236;
                                        br
                                        small.text-muted &#x6628;&#x5929;
                            li.divider
                            li
                                .text-center.link-block
                                    a.J_menuItem(href='mailbox.html')
                                        i.fa.fa-envelope
                                        strong  &#x67E5;&#x770B;&#x6240;&#x6709;&#x6D88;&#x606F;
                    li.dropdown
                        a.dropdown-toggle.count-info(data-toggle='dropdown', href='#')
                            i.fa.fa-bell
                            span.label.label-primary 8
                        ul.dropdown-menu.dropdown-alerts
                            li
                                a(href='mailbox.html')
                                    div
                                        i.fa.fa-envelope.fa-fw
                                        span.pull-right.text-muted.small 4&#x5206;&#x949F;&#x524D;
                            li.divider
                            li
                                a(href='profile.html')
                                    div
                                        i.fa.fa-qq.fa-fw
                                        span.pull-right.text-muted.small 12&#x5206;&#x949F;&#x94B1;
                            li.divider
                            li
                                .text-center.link-block
                                    a.J_menuItem(href='notifications.html')
                                        strong &#x67E5;&#x770B;&#x6240;&#x6709; 
                                        i.fa.fa-angle-right
                    li.hidden-xs
                    li.dropdown.hidden-xs
                        a.right-sidebar-toggle(aria-expanded='false')
                            i.fa.fa-tasks 主题
        .row.content-tabs
            button.roll-nav.roll-left.J_tabLeft
                i.fa.fa-backward
            nav.page-tabs.J_menuTabs
                .page-tabs-content
                    a.active.J_menuTab(href='javascript:;', data-id='/test1') 首页
            button.roll-nav.roll-right.J_tabRight
                i.fa.fa-forward
            .btn-group.roll-nav.roll-right
                button.dropdown.J_tabClose(data-toggle='dropdown') 关闭操作
                    span.caret
                ul.dropdown-menu.dropdown-menu-right(role='menu')
                    li.J_tabShowActive
                        a 定位当前选项卡
                    li.divider
                    li.J_tabCloseAll
                        a 关闭全部选项卡
                    li.J_tabCloseOther
                        a 关闭其他选项卡
            a.roll-nav.roll-right.J_tabExit(href='/login?u=true')
                i.fa.fa.fa-sign-out 登出
        #content-main.row.J_mainContent
            iframe.J_iframe(name='iframe0', width='100%', height='100%', src='/test1', frameborder='0', data-id='/test1', seamless)
        .footer
            .pull-right &copy; 2016-2017 
                a(href='mailto:zhaoxi@framedia.net')  联系我
    // 右侧部分结束
    // 右侧边栏开始
    #right-sidebar
        .sidebar-container
            ul.nav.nav-tabs.navs-3
                li.active
                    a(data-toggle='tab', href='#tab-1') 
                        i.fa.fa-gear 
                        span 主题
                li
                    a(data-toggle='tab', href='#tab-2') 通知
                li
                    a(data-toggle='tab', href='#tab-3') 项目进度
            .tab-content
                #tab-1.tab-pane.active
                    .sidebar-title
                        h3 
                         i.fa.fa-comments-o  
                         span 主题设置
                        small 你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。
                         i.fa.fa-tim  
                    .skin-setttings
                        .title 主题设置
                        .setings-item
                            span 收起左侧菜单
                            .switch
                                .onoffswitch
                                    input#collapsemenu.onoffswitch-checkbox(type='checkbox', name='collapsemenu')
                                    label.onoffswitch-label(for='collapsemenu')
                                        span.onoffswitch-inner
                                        span.onoffswitch-switch
                        .setings-item
                            span 固定顶部
                            .switch
                                .onoffswitch
                                    input#fixednavbar.onoffswitch-checkbox(type='checkbox', name='fixednavbar')
                                    label.onoffswitch-label(for='fixednavbar')
                                        span.onoffswitch-inner
                                        span.onoffswitch-switch
                        .setings-item
                            span 固定宽度
                            .switch
                                .onoffswitch
                                    input#boxedlayout.onoffswitch-checkbox(type='checkbox', name='boxedlayout')
                                    label.onoffswitch-label(for='boxedlayout')
                                        span.onoffswitch-inner
                                        span.onoffswitch-switch
                        .title 皮肤选择
                        .setings-item.default-skin.nb
                            span.skin-name
                                a.s-skin-0(href='#') 默认皮肤
                        .setings-item.blue-skin.nb
                            span.skin-name
                                a.s-skin-1(href='#') 蓝色主题
                        .setings-item.yellow-skin.nb 
                            span.skin-name
                                a.s-skin-3(href='#') 黄色/紫色主题
                #tab-2.tab-pane
                    .sidebar-title
                        h3
                            i.fa.fa-comments-o 最新通知
                        small
                            i.fa.fa-tim 您当前有10条未读信息
                    div
                        .sidebar-message
                            a(href='#')
                                .pull-left.text-center
                                    img.img-circle.message-avatar(alt='image', src='img/a1.jpg')
                                    .m-t-xs
                                        i.fa.fa-star.text-warning
                                        i.fa.fa-star.text-warning
                                .media-body
                                    br
                                    small.text-muted &#x4ECA;&#x5929; 4:21
                        .sidebar-message
                            a(href='#')
                                .pull-left.text-center
                                    img.img-circle.message-avatar(alt='image', src='img/a2.jpg')
                                .media-body
                                    br
                                    small.text-muted &#x6628;&#x5929; 2:45
                        .sidebar-message
                            a(href='#')
                                .pull-left.text-center
                                    img.img-circle.message-avatar(alt='image', src='img/a3.jpg')
                                    .m-t-xs
                                        i.fa.fa-star.text-warning
                                        i.fa.fa-star.text-warning
                                        i.fa.fa-star.text-warning
                                .media-body
                                    br
                                    small.text-muted &#x6628;&#x5929; 1:10
                        .sidebar-message
                            a(href='#')
                                .pull-left.text-center
                                    img.img-circle.message-avatar(alt='image', src='img/a4.jpg')
                                .media-body
                                    br
                                    small.text-muted &#x6628;&#x5929; 8:37
                        .sidebar-message
                            a(href='#')
                                .pull-left.text-center
                                    img.img-circle.message-avatar(alt='image', src='img/a8.jpg')
                                .media-body
                                    br
                                    small.text-muted &#x4ECA;&#x5929; 4:21
                        .sidebar-message
                            a(href='#')
                                .pull-left.text-center
                                    img.img-circle.message-avatar(alt='image', src='img/a7.jpg')
                                .media-body
                                    br
                                    small.text-muted &#x6628;&#x5929; 2:45
                        .sidebar-message
                            a(href='#')
                                .pull-left.text-center
                                    img.img-circle.message-avatar(alt='image', src='img/a3.jpg')
                                    .m-t-xs
                                        i.fa.fa-star.text-warning
                                        i.fa.fa-star.text-warning
                                        i.fa.fa-star.text-warning
                                .media-body
                                    br
                                    small.text-muted &#x6628;&#x5929; 1:10
                        .sidebar-message
                            a(href='#')
                                .pull-left.text-center
                                    img.img-circle.message-avatar(alt='image', src='img/a4.jpg')
                                .media-body
                                    br
                                    small.text-muted &#x661F;&#x671F;&#x4E00; 8:37
                #tab-3.tab-pane
                    .sidebar-title
                        h3
                            i.fa.fa-cube
                        small
                            i.fa.fa-tim
                    ul.sidebar-list
                        li
                            a(href='#')
                                .small.pull-right.m-t-xs 9&#x5C0F;&#x65F6;&#x4EE5;&#x540E;
                                h4 &#x5E02;&#x573A;&#x8C03;&#x7814;
                                .small &#x5DF2;&#x5B8C;&#x6210;&#xFF1A; 22%
                                .progress.progress-mini
                                    .progress-bar.progress-bar-warning(style='width: 22%;')
                                .small.text-muted.m-t-xs &#x9879;&#x76EE;&#x622A;&#x6B62;&#xFF1A; 4:00 - 2015.10.01
                        li
                            a(href='#')
                                .small.pull-right.m-t-xs 9&#x5C0F;&#x65F6;&#x4EE5;&#x540E;
                                h4 &#x53EF;&#x884C;&#x6027;&#x62A5;&#x544A;&#x7814;&#x7A76;&#x62A5;&#x4E0A;&#x7EA7;&#x6279;&#x51C6; 
                                .small &#x5DF2;&#x5B8C;&#x6210;&#xFF1A; 48%
                                .progress.progress-mini
                                    .progress-bar(style='width: 48%;')
                        li
                            a(href='#')
                                .small.pull-right.m-t-xs 9&#x5C0F;&#x65F6;&#x4EE5;&#x540E;
                                h4 &#x7ACB;&#x9879;&#x9636;&#x6BB5;
                                .small &#x5DF2;&#x5B8C;&#x6210;&#xFF1A; 14%
                                .progress.progress-mini
                                    .progress-bar.progress-bar-info(style='width: 14%;')
                        li
                            a(href='#')
                                span.label.label-primary.pull-right NEW
                                h4 &#x8BBE;&#x8BA1;&#x9636;&#x6BB5;
                                // <div class="small pull-right m-t-xs">9小时以后</div>
                                .small &#x5DF2;&#x5B8C;&#x6210;&#xFF1A; 22%
                                .small.text-muted.m-t-xs &#x9879;&#x76EE;&#x622A;&#x6B62;&#xFF1A; 4:00 - 2015.10.01
                        li
                            a(href='#')
                                .small.pull-right.m-t-xs 9&#x5C0F;&#x65F6;&#x4EE5;&#x540E;
                                h4 &#x62C6;&#x8FC1;&#x9636;&#x6BB5;
                                .small &#x5DF2;&#x5B8C;&#x6210;&#xFF1A; 22%
                                .progress.progress-mini
                                    .progress-bar.progress-bar-warning(style='width: 22%;')
                                .small.text-muted.m-t-xs &#x9879;&#x76EE;&#x622A;&#x6B62;&#xFF1A; 4:00 - 2015.10.01
                        li
                            a(href='#')
                                .small.pull-right.m-t-xs 9&#x5C0F;&#x65F6;&#x4EE5;&#x540E;
                                h4 &#x5EFA;&#x8BBE;&#x9636;&#x6BB5; 
                                .small &#x5DF2;&#x5B8C;&#x6210;&#xFF1A; 48%
                                .progress.progress-mini
                                    .progress-bar(style='width: 48%;')
                        li
                            a(href='#')
                                .small.pull-right.m-t-xs 9&#x5C0F;&#x65F6;&#x4EE5;&#x540E;
                                h4 &#x83B7;&#x8BC1;&#x5F00;&#x76D8;
                                .small &#x5DF2;&#x5B8C;&#x6210;&#xFF1A; 14%
                                .progress.progress-mini
                                    .progress-bar.progress-bar-info(style='width: 14%;')
    // 右侧边栏结束
    // mini聊天窗口开始
    .small-chat-box.fadeInRight.animated
        .heading(draggable='true')
            small.chat-date.pull-right
        .content
            .left
                .author-name
                    small.chat-date
                .chat-message.active
            .right
                .author-name
                    small.chat-date
                .chat-message
            .left
                .author-name
                    small.chat-date
                .chat-message.active
            .right
                .author-name
                    small.chat-date
                .chat-message
            .left
                .author-name
                    small.chat-date
                .chat-message.active
                    br
                    br
                    br
                    br
                    br
                    br
                    br
        .form-chat
            .input-group.input-group-sm
                input.form-control(type='text')
                span.input-group-btn
                    button.btn.btn-primary(type='button')
    #small-chat
        span.badge.badge-warning.pull-right 5
        a.open-small-chat
            i.fa.fa-comments