extends ./_Layout/_Layout.jade
block content 
 script(src="/Scripts/Common/Login.js",type="text/javascript")  
 .middle-box.text-center.loginscreen.animated.fadeInDown
    div
        div
            h1.logo-name FM
        h3 欢迎来到分众论坛
        form.m-t
            .form-group
                input.form-control(type='text' , placeholder='用户名/邮箱/工号' name='userName' id='userName' valitype='required' valiName='用户名/邮箱/工号')
            .form-group
                input.form-control(type='password', placeholder='密码' name='password' id='password' valitype='required' valiName='密码')
            button.btn.btn-primary.block.full-width.m-b(type='button',onclick="login()" ) 登录
        p.text-muted.text-center
                a(data-toggle='modal', data-target='#myModal') 忘记密码？ 
                span |&nbsp;               
                a(href='#')  关联员工号 
   #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only 关闭
            h4#myModalLabel.modal-title 请输入您的邮箱地址
          .modal-body#bodys
           .input-group
             input(type='text' placeholder='您注册的邮箱地址' id="mailName" valitype='required' valiName='邮箱地址').form-control
             span.input-group-addon @             
             .input-group-btn
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown' id='at_adress'  atad="focusmedia.cn") focusmedia.cn 
                    span.caret
                ul.dropdown-menu(role='menu')
                    li
                        a(href='javascript:void(0)' onclick="dropdownClick('focusmedia.cn')") focusmedia.cn
                    li
                        a(href='javascript:void(0)' onclick="dropdownClick('framedia.net')") framedia.net         
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal' id='cancel') 取消
            button.btn.btn-primary(type='button' onclick="sendMail()") 发送邮件
            a(href="Test://command&{'ID':'1','Name':'Rose','Age':'26'} ") aaaa