extends ./_Layout/_Layout.jade
block content
  #aa
    h2= title
    p Welcome to #{title}
    p abc
    input(type="checkbox", checked=false)
    input(type="button" id="a" name="ff"  value="测试" onClick="abc()") 
    button(onClick="test()") aa
    