doctype html
html 
 head
  block scripts
   script(src="/Scripts/jquery-3.1.0.min.js")
   script(src="/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js")
   link(href="/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css", rel="stylesheet")   
   link(href="/css/site.css", rel="stylesheet")
   link(href="/css/layout.css", rel="stylesheet")   
   script.
       $(function () {         
          $("[data-toggle='popover']").popover(); 
          });
   
 body
  div.navbar.navbar-inverse.navbar-fixed-top
   div.container    
    div.navbar-header
     img(src="https://avatars0.githubusercontent.com/u/10338045?v=3&s=40", alt="头像" ).img-circle.img-layout-test.img-responsive
     button(type="button" id="aa" data-container="body"
      data-toggle="popover" data-placement="bottom" 
      title="Vivamus" data-content!="<a>abc</a>").btn.btn-primary.btn-mylayout 提示信息（下）   
       <span class="caret"></span>
 
    div.navbar-collapse.collapse
     ul.nav.navbar-nav
      li
       a(href="#", title="Home") Home
      li
       a(href="#", title="About") About
      li
       a(href="#", title="Contact") Contact
      li
       a(href="#", title="Test") Test
  div.container.body-content
   block content
   hr    
   footer
    p &copy; 2016 - 论坛测试
